<table datatable class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre y Apellido</th>
      <th>Libro favorito</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Uriel Maldonado Bernabé</td>
      <td>Cien años de soledad</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jose Francisco Flores Amador</td>
      <td>El principito</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Dulce Yadira Salvador Antonio</td>
      <td>Harry Potter y la piedra filosofal</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Edwin Hernandez Campos</td>
      <td>El arte de la guerra</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Giovanny Raul Pasos Cruz</td>
      <td>Los juegos del hambre</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Paco Garcia Garcia</td>
      <td>1984</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Derek Sesni Carreño</td>
      <td>El alquimista</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Erick Matias Granillo Mejia</td>
      <td>Crónica de una muerte anunciada</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Citlali Pérez Dionicio</td>
      <td>Orgullo y prejuicio</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Jonathan Emmanuel López Morales</td>
      <td>It</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Diego Miguel Rivera Chávez</td>
      <td>El código Da Vinci</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Jennifer Bautista Barrios</td>
      <td>La sombra del viento</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Mauricio Rosales Gabriel</td>
      <td>El retrato de Dorian Gray</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Michelle Castro Otero</td>
      <td>Las ventajas de ser invisible</td>
    </tr>
    <tr>
      <td>15</td>
      <td>Sayurid Bautista Cruz</td>
      <td>Bajo la misma estrella</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Obed Guzmán Flores</td>
      <td>La ladrona de libros</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Luis Daniel Suarez Escamilla</td>
      <td>Rebelión en la granja</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Teresa Vargas Fernandez</td>
      <td>El perfume</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Carlos Daniel Garcia Pluma</td>
      <td>Don Quijote de la Mancha</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Brisa Nayeli Garcia Gregorio</td>
      <td>La chica del tren</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Adrián Pérez Jímenez</td>
      <td>El señor de los anillos</td>
    </tr>
    <tr>
      <td>22</td>
      <td>José Arturo García González</td>
      <td>La odisea</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Al Farías Leiva</td>
      <td>Sherlock Holmes</td>
    </tr>
    <tr>
      <td>24</td>
      <td>Angel de Jesús Baños Tellez</td>
      <td>Drácula</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Jesús Alejandro Artiaga Morales</td>
      <td>Frankenstein</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Yazmin Gutierrez Hernandez</td>
      <td>El psicoanalista</td>
    </tr>
  </tbody>
</table>
